@font-face {
    font-family: "IT Font";
    src: url(./font/ItFont.ttf) format("truetype");
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: "IT Font";
}

:root {
    --color-white: #fff;
    --color-black: #000;
    --color-main-red: #DE4827;

    --color-blue: #48abe0;
    --color-red: #ff2020;

}

body {
    color: var(--color-white);
    background-color: var(--color-black);
    height: 100vh;
    overflow: hidden;
}

h1 {
    font-size: 48px;
    text-align: center;
}

.none {
    display: none;
}

.balloons {
    position: absolute;
    height: 100vh;
    bottom: 0px;
    overflow: hidden;
    z-index: 0;
}

.balloons img {
    width: 100px;
    height: 110px;
    /* opacity: 0.5; */
    z-index: 1;
}

.main {
    position: relative;
    width: 100%;
    height: calc(100vh - 112px);
    z-index: 2;
}

.main-screen {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 100%;
    max-height: 500px;
    
}

.options-title {
    font-size: 37px;
}

.active {
    color: var(--color-white);
}

.opponent-btn, .symbol-btn {
    position: relative;
    font-size: 20px;
    font-weight: 700;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: var(--color-main-red);
    transition: 0.4s ease;
    cursor: pointer;
}

.drop {
    position: absolute;
    bottom: 0px;
    width: 4px;
    height: 4px;
    border-radius: 0px 100px 100px 100px;
    background-color: var(--color-main-red);
    box-shadow: 1px 1px 3px var(--color-main-red);
    z-index: 2;
}

.friend:hover .drop,
.computer:hover .drop {
    animation: drop 1.5s infinite both;
}

.opponent-btn:hover,
.symbol-btn:hover {
    transform: scale(1.05);
}

.drop:nth-child(1) {
    bottom: 2px;
    left: 10%;
    animation-delay: 0.5s;
}

.options {
    text-align: center;
    padding: 40px 40px 10px;
    width: 280px;
    background: rgba(255, 255, 255, 0.11);
    border-radius: 16px;
    box-shadow: 0 0px 13px rgb(255 0 0);
    backdrop-filter: blur(2.9px);
    -webkit-backdrop-filter: blur(2.9px);
    border: 1px solid rgba(255, 255, 255, 0.15);
    overflow: hidden;
}

.play-wrapper {
    position: relative;
    width: 100%;
    height: 65px;

    & > div {
        overflow: hidden;
        margin: 5px auto;
    }
}

.play {
    position: absolute;
    left: -150px;
    font-size: min(max(7px, 3vw), 12px);
    font-weight: 700;
    margin: 10px 20px;
    padding: 20px 20px 10px 20px;
    background: url(./assets/boat.png) no-repeat;
    background-size: contain;
    transition: 0.4s ease;
    cursor: pointer;
}

.wave {
    position: relative;
    opacity: 0;
    top: 35px;
    left: -2px;
      width: 2px;
      height: 1px;
    border: var(--color-white) 1px solid;
      -moz-border-radius: 300px / 150px;
      -webkit-border-radius: 300px / 150px;
      border-radius: 300px / 150px;
    z-index: -1;
  }

.wrapper::after {
    content: '';
    position: absolute;
    height: 10rem;
    width: 10rem;
    bottom: 70%;
    left: 50%;
    background: url(./assets/pennywise.png) no-repeat;
    background-size: contain;
    transform: translateX(-50%);
    z-index: 3;
}

/* Game screen */
.board-wrapper {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.main-game-borad {
    height: 100%;
}

.score {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 120px;
    margin: 0 auto;
    padding: 2px 15px;
    background-color: var(--color-main-red);
    border-radius: 60px 60px 0px 0px;
}

.game-table {
    display: grid;
    grid-template-columns: minmax(100px, 200px) minmax(100px, 200px) minmax(100px, 200px);
    grid-gap: 10px;
    justify-content: center;
    align-content: center;
    margin: 0 auto;
    background-image: url("./assets/bg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: All 0.8s ease;
}

.cell {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    aspect-ratio: 1 / 1;
    border-radius: 25px;
    color: var(--color-white);
    font-size: 20px;
    font-weight: 700;
    background-color: #ffffff1c;
    transition: All 0.8s ease;
}

.cross {
    width: 50%;
    height: 50%;
    background-image: url('./assets/cross.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.circle {
    width: 50%;
    height: 50%;
    background-image: url('./assets/circle08.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.game-table.x .cell:not(.x):not(.o):hover::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50%;
    height: 50%;
    background-image: url('./assets/cross.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    transform: translate(-50%, -50%);
    opacity: 1;
}

.game-table.o .cell:not(.x):not(.o):hover::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50%;
    height: 50%;
    background-image: url('./assets/circle08.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    transform: translate(-50%, -50%);
}

.game-table.x .cell::after {
    transition: all 0.8s;
    opacity: 0;
}

.circle-blue, 
.cross-blue {
    filter: invert(65%) sepia(24%) saturate(1221%) hue-rotate(165deg) brightness(91%) contrast(92%) drop-shadow(0px 0px 7px var(--color-blue)); 
}

.circle-red,
.cross-red {
    filter: invert(36%) sepia(61%) saturate(7193%) hue-rotate(351deg) brightness(94%) contrast(111%) drop-shadow(0px 0px 7px var(--color-red));
}

.players {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex: 1 0 auto;
    color: var(--color-black);
    transition: all 0.6s ease;
}

.avatar-border-circle {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -105px;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: var(--color-white);
    border: 5px solid #ccc;
    transition: all 0.6s ease;
    /* overflow: hidden; */
}

.avatar-left-circle {
    left: -30px;
    transition: 0.6s ease;
    box-shadow: 0 0 50px 15px var(--color-white);
}

.avatar-right-circle {
    right: -30px;
    transition: 0.6s ease;
    box-shadow: 0 0 50px 15px var(--color-white);
}

.player-red {
    transition: 0.6s ease;
    box-shadow: 0 0 50px 15px var(--color-red);
}

.player-blue {
    transition: 0.6s ease;
    box-shadow: 0 0 50px 15px var(--color-blue);
}

.player-one-image,
.player-two-image {
    width: 110px;
    aspect-ratio: 3 / 2;
}

.palyer-one-name,
.player-two-name {
    font-size: 15px;
    font-weight: 700;
}

@keyframes float {
    from {transform: translateY(100vh);}
    to {transform: translateY(-300vh);}
}

@keyframes drop {
    0% {
        transform: translateY(0) rotate(45deg);
        animation-timing-function: ease-in-out;
    }
    100% {
        transform: translateY(200%) rotate(45deg);
        animation-timing-function: ease-in-out;
    }
}

@keyframes boat {
    from {transform: translateX(0);}
    to {transform: translateX(195px);}
}

@keyframes ripple {
    from {
      opacity: 1;
    }
    to {
      width: 90px;
      height: 40px;
      border-width: 1px;
      top: 25px;
      opacity: 0;
    }
}

.animation {
    width: 1220px;
    margin: 0 auto;
}

.row {
    position: relative;
    display: grid;
    perspective: 1000px;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}

.item {
    position: relative;
    top: -5px;
    display: inline-block;
    max-width: 100%;
    width: 150px;
    height: 200px;
    padding: 20px;
    border-radius: 4px;
    border: 2px red solid;
    box-sizing: border-box;
    color: var(--color-white);
    background: #ccc;
    text-align: center;
    transition: 0.7s ease;
}

.first-row {
    overflow: hidden;
}